<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"/>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('homepage') }}">AddressBook</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('homepage') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_contact_list') }}">Contacts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_company_list') }}">Companies</a>
            </li>
            {% block nav %}{% endblock %}
        </ul>
        <ul class="navbar-nav flex-row ml-md-auto">
            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('fos_user_security_login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('fos_user_registration_register') }}">Register</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Logout</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <div class="container-fluid mt-3">

        {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
        {% endfor %}

        {% block body %}{% endblock %}
    </div>
{% block javascripts %}{% endblock %}
</body>
</html>

